.x-grid-row ,.x-grid-cell, .x-unselectable, .x-unselectable * {
 -moz-user-select: text !important; -khtml-user-select: all !important; -webkit-user-select: text !important;
 -o-user-select: text !important; -ms-user-select: text !important; user-select: text !important;
 overflow: hidden !important; white-space:nowrap !important;
}
.x-column-header-hidden {display:none;}
.x-column-header-inner .x-column-header-text {white-space: normal !important;}
.x-column-header-inner {line-height: normal !important; padding-top: 1px !important; padding-bottom: 1px !important; top: 10%;}
