.icon-sortup {background-image:url(../images/icons/sortup.gif) !important;}
.icon-human {background-image:url(../images/icons/human.gif) !important;}
.icon-gnome {background-image:url(../images/icons/gnome_16.png) !important;}
.icon-cog {background-image:url(../images/icons/cog.gif) !important;}
.icon-tabs {background-image:url(../images/icons/tabs.gif) !important;}
.icon-information {background-image:url(../images/icons/information.png) !important;}
.icon-image_add {background-image:url(../images/icons/image_add.png) !important;}
.icon-help {background-image:url(../images/icons/help.gif) !important;}
.icon-smiley {background-image:url(../images/icons/smiley.gif) !important;}
.icon-gears {background-image:url(../images/icons/gears.gif) !important;}
.icon-course {background-image:url(../images/icons/course.gif) !important;}
.icon-check {background-image:url(../images/icons/check.gif) !important;}
.icon-spam {background-image:url(../images/icons/spam.gif) !important;}
.icon-plugin {background-image:url(../images/icons/plugin.gif) !important;}
.icon-cross {background-image:url(../images/icons/cross.gif) !important;}
.icon-send {background-image:url(../images/icons/email_go.png) !important;}
.icon-save {background-image:url(../images/icons/save.gif) !important;}
.icon-add {background-image:url(../images/icons/add.png) !important;}
.icon-edit {background-image:url(../images/icons/edit.png) !important;}
.icon-delete {background-image:url(../images/icons/delete.png) !important;}
.icon-undo {background-image:url(../images/icons/undo.png) !important;}
.icon-sort {background-image:url(../images/icons/sort.gif) !important;}
.icon-sort_clear {background-image:url(../images/icons/sort_clear.gif) !important;}
.icon-filter {background-image:url(../images/icons/filter.png) !important;}
.icon-filter_clear {background-image:url(../images/icons/filter_clear.png) !important;}
.icon-print {background-image:url(../images/icons/printer.png) !important;}
.icon-folder {background-image:url(../images/icons/folder.gif) !important;}
.icon-folder-open {background-image:url(../images/icons/folder-open.gif) !important;}
.icon-spell {background-image:url(../images/icons/spellcheck.png) !important;}
.icon-scales {background-image:url(../images/icons/scales.gif) !important;}
.icon-attach {background-image:url(../images/icons/page_attach.png) !important;}
.icon-minus-circle {background-image:url(../images/icons/minus-circle.png) !important;}
.icon-gears {background-image:url(../images/icons/gears.gif) !important;}
.icon-group16 {background-image:url(../images/icons/group16.gif) !important;}
.icon-templates {background-image:url(../images/icons/templates.png) !important;}
.icon-post_go {background-image:url(../images/icons/post_go.gif) !important;}
.icon-tickets {background-image:url(../images/icons/tickets.png) !important;}
.icon-printer {background-image:url(../images/icons/printer.png) !important;}
.icon-jpeg {background-image:url(../images/icons/jpeg.png) !important;}
.icon-pdf {background-image:url(../images/icons/page_white_acrobat.png) !important;}
.icon-xls {background-image:url(../images/icons/excel.gif) !important;}
.icon-doc {background-image:url(../images/icons/doc.gif) !important;}
.icon-zip {background-image:url(../images/icons/zip.gif) !important;}
.icon-member {background-image:url(../images/icons/member.gif) !important;}
.icon-user {background-image:url(../images/icons/user.gif) !important;}
.icon-useradd {background-image:url(../images/icons/user_add.gif) !important;}
.icon-useredit {background-image:url(../images/icons/user_edit.png) !important;}
.icon-userdel {background-image:url(../images/icons/user_delete.gif) !important;}
.icon-key {background-image:url(../images/icons/key.gif) !important;}
.icon-im16x16 {background-image:url(../images/icons/im16x16.gif) !important;}
.icon-toga {background-image:url(../images/icons/toga.png) !important;}
.icon-book {background-image:url(../images/icons/book.png) !important;}
.icon-star {background-image:url(../images/icons/star.png) !important;}
.icon-law {background-image:url(../images/icons/law-icon_16.png) !important;}
.icon-school {background-image:url(../images/icons/school.png) !important;}
.icon-show {background-image:url(../images/icons/application_view_list.png) !important;}
.icon-money_add {background-image:url(../images/icons/money_add.png) !important;}
.icon-money_del {background-image:url(../images/icons/money_delete.png) !important;}
.icon-menu_utama {background-image:url(../images/icons/menu_utama.png) !important;}
.icon-menu_layanan {background-image:url(../images/icons/menu_layanan.png) !important;}
.icon-menu_kepegawaian {background-image:url(../images/icons/menu_kepegawaian.png) !important;}
.icon-menu_diklat {background-image:url(../images/icons/menu_diklat.png) !important;}
.icon-menu_laporan {background-image:url(../images/icons/menu_laporan.png) !important;}
.icon-menu_pengguna {background-image:url(../images/icons/menu_pengguna.png) !important;}
.icon-menu_profil {background-image:url(../images/icons/menu_profil.png) !important;}
.icon-menu_seleksi {background-image:url(../images/icons/menu_seleksi.png) !important;}
.icon-menu_kgb {background-image:url(../images/icons/menu_kgb.png) !important;}
.icon-menu_impasing {background-image:url(../images/icons/menu_impasing.png) !important;}
.icon-menu_satya_lencana{background-image:url(../images/icons/menu_satya_lencana.png) !important;}
.icon-menu_pensiun{background-image:url(../images/icons/menu_pensiun.png) !important;}
.icon-menu_kenaikan_pangkat{background-image:url(../images/icons/menu_kenaikan_pangkat.png) !important;}
.icon-menu_izin_belajar{background-image:url(../images/icons/menu_izin_belajar.png) !important;}
.icon-menu_ujian_dinas{background-image:url(../images/icons/menu_ujian_dinas.png) !important;}
.icon-menu_cuti{background-image:url(../images/icons/menu_cuti.png) !important;}
.icon-menu_rikes{background-image:url(../images/icons/menu_rikes.png) !important;}
.icon-menu_meninggal{background-image:url(../images/icons/menu_meninggal.png) !important;}
.icon-menu_karpeg{background-image:url(../images/icons/menu_karpeg.png) !important;}
.icon-menu_karis{background-image:url(../images/icons/menu_karis.png) !important;}
.icon-menu_taperum{background-image:url(../images/icons/menu_taperum.png) !important;}
.icon-menu_log_pengguna{background-image:url(../images/icons/menu_log_pengguna.png) !important;}
.icon-menu_db_tools{background-image:url(../images/icons/menu_db_tools.png) !important;}
.icon-menu_mutasi_keluar{background-image:url(../images/icons/menu_mutasi_keluar.png) !important;}
.icon-menu_mutasi_masuk{background-image:url(../images/icons/menu_mutasi_masuk.png) !important;}
.icon-menu_surat_tugas{background-image:url(../images/icons/menu_surat_tugas.png) !important;}
.icon-menu_sotk{background-image:url(../images/icons/menu_sotk.png) !important;}
.icon-menu_pelantikan_ps{background-image:url(../images/icons/menu_pelantikan_ps.png) !important;}
.icon-menu_pelantikan_pf{background-image:url(../images/icons/menu_pelantikan_pf.png) !important;}
.icon-menu_skcpns{background-image:url(../images/icons/menu_skcpns.png) !important;}
.icon-menu_skpns{background-image:url(../images/icons/menu_skpns.png) !important;}
.icon-menu_skpmk{background-image:url(../images/icons/menu_skpmk.png) !important;}
.icon-menu_skmpp{background-image:url(../images/icons/menu_skmpp.png) !important;}
.icon-menu_disiplin{background-image:url(../images/icons/menu_disiplin.png) !important;}
.icon-menu_dp3{background-image:url(../images/icons/menu_dp3.png) !important;}
.icon-menu_tugas_belajar{background-image:url(../images/icons/menu_tugas_belajar.png) !important;}
.icon-menu_prajabatan{background-image:url(../images/icons/menu_prajabatan.png) !important;}
.icon-menu_pim{background-image:url(../images/icons/menu_pim.png) !important;}
.icon-menu_teknis{background-image:url(../images/icons/menu_teknis.png) !important;}
.icon-menu_lap_nom{background-image:url(../images/icons/menu_lap_nom.gif) !important;}
.icon-menu_lap_duk{background-image:url(../images/icons/menu_lap_duk.png) !important;}
.icon-menu_lap_pejabataktif{background-image:url(../images/icons/menu_lap_pejabataktif.png) !important;}
.icon-menu_lap_fungtertentu{background-image:url(../images/icons/menu_lap_fungtertentu.png) !important;}
.icon-menu_rekap_gol{background-image:url(../images/icons/menu_rekap_gol.png) !important;}
.icon-menu_rekap_eselon{background-image:url(../images/icons/menu_rekap_eselon.png) !important;}
.icon-menu_rekap_pddk{background-image:url(../images/icons/menu_rekap_pddk.png) !important;}
.icon-menu_rekap_usia{background-image:url(../images/icons/menu_rekap_usia.png) !important;}
.icon-menu_rekap_pensiun{background-image:url(../images/icons/menu_rekap_pensiun.png) !important;}
.icon-menu_rekap_ft{background-image:url(../images/icons/scales.gif) !important;}
.icon-menu_histori_rekap{background-image:url(../images/icons/menu_histori_rekap.png) !important;}
.icon-menu_histori_nominatif{background-image:url(../images/icons/menu_histori_nominatif.png) !important;}

.icon-menu_document_upload{background-image:url(../images/icons/menu_document_upload.png) !important;}
.icon-menu_send{background-image:url(../images/icons/menu_send.png) !important;}
.icon-menu_absensi{background-image:url(../images/icons/menu_absensi.png) !important;}
.icon-menu_spj{background-image:url(../images/icons/menu_spj.png) !important;}
.icon-menu_kesehatan{background-image:url(../images/icons/menu_kesehatan.png) !important;}
.icon-menu_pegawaibaru{background-image:url(../images/icons/menu_pegawaibaru.png) !important;}
.icon-menu_penggajian{background-image:url(../images/icons/menu_penggajian.png) !important;}
.icon-menu_seting_gaji{background-image:url(../images/icons/menu_seting_gaji.png) !important;}
.icon-menu_gaji{background-image:url(../images/icons/menu_gaji.png) !important;}
.icon-menu_pph21{background-image:url(../images/icons/menu_histori_nominatif.png) !important;}

.icon-menu_import{background-image:url(../images/icons/menu_import.png) !important;}
.icon-menu_option{background-image:url(../images/icons/menu_option.png) !important;}
.icon-menu_identifikasi{background-image:url(../images/icons/menu_identifikasi.png) !important;}
.icon-menu_absensimanual{background-image:url(../images/icons/menu_absensimanual.png) !important;}

.icon-menu_plan_diklat{background-image:url(../images/icons/menu_pelantikan_ps.png) !important;}
.icon-menu_teknis{background-image:url(../images/icons/menu_pelantikan_pf.png) !important;}
