td           { font-family: Verdana, Arial, Helvetica; font-size: 8pt;}

.EE{
	PADDING-RIGHT: 1px; BORDER-TOP: #c1cdd8 1px solid; PADDING-LEFT: 1px; HEIGHT: 23px
}

.EE2 {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; HEIGHT: 23px
}


li {margin-left: -20}
INPUT, TEXTAREA {font-family:Tahoma,Verdana,Arial;
		font-size:11px;
		color:214D94;
		border-left-style: solid;
		border-left-width: 1px;
		border-left-color: 8B9A9F;

		border-bottom-style: solid;
		border-bottom-width: 1px;
		border-bottom-color: 8B9A9F;

		border-top-style: solid;
		border-top-width: 1px;
		border-top-color: 8B9A9F;

		border-right-style: solid;
		border-right-width: 1px;
		border-right-color: 8B9A9F;	}	
.submit {border :0}
body {	
scrollbar-base-color: #78A9D9;
   scrollbar-shadow-color: #C8E3FF;
   scrollbar-highlight-color: #C8E3FF; 
   scrollbar-3dlight-color: #94C2E4; 
   scrollbar-darkshadow-color: #78A9D9;
   scrollbar-track-color: #94C2E4; 
   scrollbar-arrow-color: #94C2E4;
   	background-attachment : fixed;
	margin-bottom : 0;
	margin-left : 0;
	margin-right : 0;
	margin-top : 0;
}

/*-------- tree menu ------*/
#foldheader{cursor:pointer;cursor:hand ; font-weight:bold ;list-style-image:url(fold.gif)}
#foldinglist{ list-style-image:url(list.gif)}
ul.foldheader {margin-left: -120; }
ul.litem {margin-left: 0; }
/*-------- tree menu ------*/



.sbh_boxH {
	BORDER-RIGHT: #accde5 0px solid; PADDING-RIGHT: 5px; BORDER-TOP: #accde5 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; PADDING-BOTTOM: 3px; BORDER-LEFT: #accde5 1px solid; COLOR: #003399; PADDING-TOP: 2px; BORDER-BOTTOM: #accde5 1px solid; BACKGROUND-COLOR: #f2f9ff
}
.sbh_boxB {
	BORDER-RIGHT: #c0c0c0 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #c0c0c0 0px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 11px; BORDER-LEFT: #c0c0c0 1px solid; PADDING-TOP: 10px; BORDER-BOTTOM: #c0c0c0 1px solid
}
.sbh_liText {
	FONT-SIZE: 10px; COLOR: #000000
}

/* level 0 inner */
.m0l0iout {
	font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	padding: 4px;
	color: navy;
	font-weight : bold;
	text-align : center;
}
.m0l0iover {
	font: 11px Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-decoration: underline;
	padding: 4px;
	color: navy;
	text-align : center;
	font-weight : bold;
}

/* level 0 outer */
.m0l0oout {
	text-decoration : none;
	border : 0px solid #FFFFFF;
	
}
.m0l0oover {
	text-decoration : none;
	border : 0px solid #FFFFFF;
	
}

/* level 1 inner */
.m0l1iout {
	font: 11px Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-decoration: none;
	padding: 4px;
	color: white;
}
.m0l1iover {
	font: bold 11px Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-decoration : none;
	padding: 4px;
	color: #000000;
}

/* level 1 outer */
.m0l1oout {
	text-decoration : none;
	border : 1px solid #FFFFFF;
	background: green;
	filter: alpha(opacity=90);
}
.m0l1oover {
	text-decoration : none;
	border : 1px solid #FFFFFF;
	background: #5AE55A;
}

/* level 2 inner */

.m0l2iout {
	font: 11px Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-decoration : none;
	padding: 4px;
	color: #ffffff;
}
.m0l2iover {
	font: 11px Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-decoration : none;
	padding: 4px;
	color: #ffffff;
}



/* level 2 outer */
.m0l2oout {
	text-decoration : none;
	border : 1px solid #FFFFFF;
	background: #46B446;
	
	
}
.m0l2oover {
	text-decoration : underline;
	border : 1px solid #FFFFFF;
	background: #5AE55A;
	
	
}

/*css for menu on the left*/
.minner2 {
	font: 12px Tahoma, Verdana, sans-serif;
	text-decoration: none;
	text-align : left;
	padding: 4px;
	color: white;
}

.moout2 {
	border: 1px solid #6699cc;
	background: #336699;
	text-decoration: none;
	text-align : left;

}
.moover2 {
	border: 1px solid #6699cc;
	background: #6699cc;
	text-decoration: none;
	
	text-align : left;

}

/******** BUAT HEADER *********/
.networknav A {
	COLOR: #ffffff; TEXT-DECORATION: none;
	FONT-FAMILY: arial,helvetica; FONT-SIZE: 10px
}
.networknav A:visited {
	COLOR: #ffffff;
	FONT-FAMILY: arial,helvetica; FONT-SIZE: 10px
}
.networknav A:hover {
	COLOR: #ffcc00;
	FONT-FAMILY: arial,helvetica; FONT-SIZE: 10px
}
.networknav A:active {
	COLOR: LIME;
	FONT-FAMILY: arial,helvetica; FONT-SIZE: 10px
}
.currentpage {
	COLOR: #ffffff; FONT-FAMILY: arial,helvetica; FONT-SIZE: 10px;
	FONT-FAMILY: arial,helvetica; FONT-SIZE: 10px
}
.currentpage A {
	COLOR: #ffffff; TEXT-DECORATION: none;
	FONT-FAMILY: arial,helvetica; FONT-SIZE: 10px
}
.currentpage A:visited {
	COLOR: green;
	FONT-FAMILY: arial,helvetica; FONT-SIZE: 10px
}
.currentpage A:active {
	COLOR: #000000;
	FONT-FAMILY: arial,helvetica; FONT-SIZE: 10px
}
.separator {
	COLOR: #666666; FONT-FAMILY: arial,helvetica; FONT-SIZE: 10px
}
/*****************/