/* --- menu styles ---
note:
	not all browsers render styles the same way so try out your style sheet
	on different browsers before publishing;
*/
/* level 0 inner */
.m0l0iout {
	font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	padding: 4px;
	color: navy;
	font-weight : bold;
	text-align : center;
}
.m0l0iover {
	font: 11px Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-decoration: underline;
	padding: 4px;
	color: navy;
	text-align : center;
	font-weight : bold;
}

/* level 0 outer */
.m0l0oout {
	text-decoration : none;
	border : 0px solid #FFFFFF;
	
}
.m0l0oover {
	text-decoration : none;
	border : 0px solid #FFFFFF;
	
}

/* level 1 inner */
.m0l1iout {
	font: 11px Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-decoration: none;
	padding: 4px;
	color: #000000;
}
.m0l1iover {
	font: bold 11px Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-decoration : none;
	padding: 4px;
	color: #000000;
}

/* level 1 outer */
.m0l1oout {
	text-decoration : none;
	border : 1px solid #FFFFFF;
	background: #46B446;
	filter: alpha(opacity=85);
}
.m0l1oover {
	text-decoration : none;
	border : 1px solid #FFFFFF;
	background: #5AE55A;
}

/* level 2 inner */
.m0l2iover {
	font: 11px Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-decoration : none;
	padding: 4px;
	color: #ffffff;
}

/* level 2 outer */
.m0l2oout {
	text-decoration : none;
	border : 1px solid #FFFFFF;
	background: green;
	color: #ffffff;
	
}
.m0l2oover {
	text-decoration : underline;
	border : 1px solid #FFFFFF;
	background: green;
	color: #ffffff;
	
}