.titleIcon
 	{ 
 	font-family : "Century Gothic",tahoma;   
 	font-size: 20px; color: orange; 	
 	font-weight : bold; }
 .titleIcon  img {	
	vertical-align : middle;
	border:0px; 
	margin-right : 5px; 
	margin-left : 0px;  } 
.bordersilver {	border : 1px solid Silver; }
.tdataheader td{ 
	background-color :E4E1DC;
	background-image:url(images/background_top.jpg);
	font : bold 11px   Tahoma, Geneva, Arial, Helvetica, sans-serif;
	height : 24px;
	border-bottom : 3px solid #FF9E31;
	color : #5E5D5C;
	border-right:1px solid silver;
	padding:5px;
}
.tdatafooter {
    padding-left : 4px;
	background-image : url(images/line_bot.gif);
	font : bold 11px   Tahoma, Geneva, Arial, Helvetica, sans-serif;
	height : 26px;
	border-right : 1px solid #797A9C;
	color : #1A1C4D;
}

.data0 td{     
	background-color:#F5F5F5;
	font :  11px   Tahoma, Geneva, Arial, Helvetica, sans-serif; 
	border-bottom : 1px solid #c1cdd8;
	padding:5px;
}
.data1 td{     
	background-color:#FAFAFA;
	font :  11px   Tahoma, Geneva, Arial, Helvetica, sans-serif; 
	border-bottom : 1px solid #c1cdd8;
	padding:5px;
}
.menu4 {
      width: 100%;      
      padding: 0;
      background: #fff none;
      padding: 0px 0.5em;
      background: #eee none;
	  text-align:right;
	  font-size:14px;
	  font-family: Tahoma,Geneva, Arial, Helvetica, sans-serif;
	  color:#999999;
	  
    }
      .menu4 ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }
     .menu4 li {
      margin: 0; 
      float: right;
      width: 8em;     
      text-align: left;
	  border-left:1px solid silver;
	  
    }  
    .menu4 a {
      padding-top: 10px;
	  padding-left: 7px;
      padding-bottom: 10px;
      display: block;
      width: 100%;
      text-decoration: none;
	  color:#666666; 
    }
    .menu4 a:hover {
      color : white;
	  background:url(../images/header_bg_hover01.gif);
    }
	.menu4 .menuActive {
      color : white;
	  background:url(../images/header_bg_hover01.gif);
    }
	.menu4 .menuActive a {
      color : white;
	  background:url(../images/header_bg_hover01.gif);
    }
	.current td { font-weight:bold; color:#006600; background-color:#FFFF99;  }
	
	
.td_header {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: black; FONT-FAMILY: Tahoma, Verdana; HEIGHT: 20px; BACKGROUND-COLOR: #e6f1ff; valign: top;
}

.td_detaileven {
	FONT-SIZE: 11px; COLOR: black; FONT-FAMILY: verdana,tahoma; HEIGHT: 5px; BACKGROUND-COLOR: white; valign: top
}

.td_detailodd {
	FONT-SIZE: 11px; COLOR: black; FONT-FAMILY: Tahoma, Verdana; HEIGHT: 5px; background-color:#E8E8E8;  valign: top
}

.title { font-family : "Century Gothic",tahoma;   font-size: 20px; color: orange; 	font-weight : bold; }

.line_top { 
	border-top: 1px solid Gray;
	
 }
 
 .line_bot { 
	border-bottom: 1px solid Gray;
	
 }
  
.bordersilver {	border : 1px solid Silver;background:url(images/bordersilver_bkg.jpg); background-repeat:repeat-x; }
/*########## FORM########## */
input {
	font : 9px Tahoma,Verdana, Geneva, Arial, Helvetica, sans-serif;
	}  
select {	
	font : 9px Tahoma,Verdana, Geneva, Arial, Helvetica, sans-serif; 
	background-attachment: fixed;
	background-color: #F6F6F6;
	margin: 0 0 0 0;
	}
textarea {
	font : 9px Tahoma,Verdana, Geneva, Arial, Helvetica, sans-serif;}
.readonly {
	background-color: #FAFAFA;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #362E69;
	border: 1px solid #4682B4;
	cursor: hand;
	font-size: 11px;
	} 
.tbutton {
	border:0px solid white;
	cursor:pointer; text-align:left;   
	vertical-align : top; 	 
	}
/*#############FORUM STYLE #############*/


 .tdataheadermerge{
     text-align : center;
	background-color :E4E1DC;
	font : bold 11px   Tahoma, Geneva, Arial, Helvetica, sans-serif;
	height : 24px;
	border-bottom : 1px solid gray;
	border-right: 1px dotted silver;
	padding : 4 4 4 4;
	color : #5E5D5C;
} 
.tdataheader td{ 
	background-color :E4E1DC;
	background-image:url(../images/background_top.jpg);
	font : bold 11px   Tahoma, Geneva, Arial, Helvetica, sans-serif;
	height : 24px;
	border-bottom : 3px solid #FF9E31;
	padding : 4 4 4 4;
	color : #5E5D5C;
	border-right:1px solid silver;
}
.tdatafooter {
    padding-left : 4px;
	background-image : url(../images/line_bot.gif);
	font : bold 11px   Tahoma, Geneva, Arial, Helvetica, sans-serif;
	height : 26px;
	border-right : 1px solid #797A9C;
	color : #1A1C4D;
}

.sectionTitle {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	font-size: 12px;
	font-weight: bold;
	text-align: left;
	margin: 10px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	text-transform: none;
	letter-spacing: 0.3em;
}

.sectionTitle_v2 {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	font-size: 12px;
	font-weight: bold;
	text-align: left;
	margin: 10px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	text-transform: none;
}
.grafiktitle{
font : bold 11px   Tahoma, Geneva, Arial, Helvetica, sans-serif;

}

.pegawai_diklat_disabled .x-grid-cell-inner
{
	background-color:#FF3;
}

 