<span style='color: #000' title='Frames'>   114</span><span style='color: #009' title='Memory'>   8192.00 KB</span><span style='color: #900' title='Time'>    805.07 ms</span><span  title='Quirksmode'>  <span style='color: #0d0'>OFF</span></span><br />